@font-face {
    font-family: 'Roboto';
    src:
        url('./fonts/Roboto/Roboto-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:
        url('./fonts/Roboto/Roboto-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:
        url('./fonts/Roboto/Roboto-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:
        url('./fonts/Roboto/Roboto-BlackItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src:
        url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
