* {
    font-family: 'Roboto';
}

html {
    font-size: 100%;
}

h1 {
    font-size: 150%;
}

.content {
  background-color: $colrgb(255, 0, 0)or-red;
  color:inherit
  margin: auto;
  position: relative;
}
