p {
    font-family: 'Roboto';
    font-size: 15px;
    color: black;
    margin: 10px;
}
p::first-letter {
  color: red;
  font-size: 1.25em;
}
html {
    font-size: 100%;
}

h1 {
    font-size: 150%;
    font-family: 'Oswald';
}
.opener {
  border: 5px double black;
}


.parent-element {
    min-height: 10em;
}

.button {
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    background-color: red;
    border-color: #8f8b8b #383636 #383636 #8f8b8b;
    border-width: 9px 15px 15px 9px;
    border-style: solid;
    border-radius: 100px;
    position: relative;
    margin: auto;
    top: 1em;
    padding: 1em;
    width: 9em;
    text-align: center;
}

.button:hover {
    color: #383636;
    font-style: italic;
}

.button:active {
    color: #fff;
    background-color: darkred;
    border-color: #383636 #8f8b8b #8f8b8b #383636;
    border-width: 15px 9px 9px 15px;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    position: absolute;
    top: 140px;
}
